html {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

body {
   color: white;
   background: blue;
   background: -webkit-linear-gradient(left,rgba(34,40,69,.5),rgba(34,40,69,.9));
   background: -o-linear-gradient(right,rgba(34,40,69,.5),rgba(34,40,69,.9));
   background: -moz-linear-gradient(right,rgba(34,40,69,.5),rgba(34,40,69,.9));
   background: linear-gradient(to right, rgba(34,40,69,.5),rgba(34,40,69,.9));
   background: url("../image/bg2.jpg") no-repeat center center fixed;
   image-rendering: -webkit-optimize-contrast;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin-bottom: 100px;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.navbar.navbar-default.navbar-fixed-top{
    background-color: rgba(255,255,255, 0);
    border: none;
}
.navbar.navbar-default.navbar-fixed-bottom{
    background-color: rgba(41,41,41,0.7);
    color: white;
}
.nav.navbar-nav.navbar-left > li > a:hover{
    color: yellow;
}
.navbar-collapse.collapse{
  position: absolute;
  top: 50px;
  right: 30px;
}
.navbar-collapse.collapse>ul li{
  list-style: none;
}
.fa{
  color: rgba(255, 255, 255, 0.7);
}
.nav.navbar-nav.navbar-right{
  padding: 20px 40px 0 0;
}
.navbar-collapse.collapse > a:hover, .navbar-collapse.collapse > a:focus {
    color: yellow;
}
.nav.navbar-nav.navbar-left > li > a{
  font-size: 30px;
  color: #21bcb6;
}
.mainpage{
  margin-left: 100px;
   padding-top: 120px;
   width: 50%;
   background-color: rgba(255,255,255,0);
}
.mainpage>h4{
  padding: 10px;
  font-size: 24px;
  color:rgba(255,255,255,0.8);
}

/*word rotator*/
.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 110px auto 0 auto;
	font-family: 'Bree Serif';
	padding: 10px;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.mainpage span{
  margin-left: 10px;
  font-size: 100px;
	color: rgba(255,255,255,0.8);
	font-size: 200%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: rgba(255,255,255,0.8);
	-webkit-animation: rotateWord 21s linear infinite 0s;
	-ms-animation: rotateWord 21s linear infinite 0s;
	animation: rotateWord 21s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	color:rgba(255,255,255,0.8);
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
	color:rgba(255,255,255,0.8);
}
.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
	color:rgba(255,255,255,0.8);
}
.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
	color: rgba(255,255,255,0.8);
}
.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
	-ms-animation-delay: 15s;
	animation-delay: 15s;
	color:rgba(255,255,255,0.8) ;
}
.rw-words-1 span:nth-child(7) {
    -webkit-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s;
	color: ;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}
/*end*/
.show_work{
  margin-top: 300px;
  text-align: center;
  width: 30%;
  margin-left: 100px;
  border: 2px solid white;
  border-radius: 20px;
}
.bash_prompt{
  margin:-10% 0 0 50%;
  background-color: rgba(255,255,255,.1);
  border: 2px solid white;
  border-radius: 5px;
  width: 700px;
  height: 400px;
}
.show_work:hover{
  background-color: rgba(41,41,41,0.7);
}

#layer{
  width: 100%;
  height: 100%;
 overflow-y: scroll;
}

/*About me*/
.aboutme{
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  width: 100%;
  color: white;
  background-color: rgba(255,255,255,0.3);
}

#skill_timeline{
  margin-top: 200px;
  width: 100%;
  color: white;
  background-color: rgba(255,255,255,0.1);
}
.center{
  text-align: center;
  color: #21bcb6;
}
.row{
  height: 500px;
}
h1{
  letter-spacing: 10px;
  padding-bottom: 20px;
  font-size: 36px;
  color: rgba(255,255,255,.8);
  text-transform: uppercase;
}
h3{
  letter-spacing: 2px;
  font-size: 46px;
  color: rgba(255,255,255,.8);
}
h4{
  font-size: 30px;
  color: rgba(255,255,255,.8);
}
div{
  display: block;
}
.scroll-container{
  padding-top: 20px;
  width: 100%;
  height: 100%;
  float:right;
  overflow-y:scroll;
}
/*Contact*/
.contactMe{
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 100px;
  width: 75%;
  height: 500px;
  color: white;
  background-color: rgba(255,255,255,0.1);
}
.scroll-container{
  width: 100%;
  justify-content: center;
  margin-left: 100px;
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--linkedin {
  background: #006599;
  background: -webkit-linear-gradient(#0d6d9e, #006091);
  background: linear-gradient(#0d6d9e, #006091);
  border-bottom: 1px solid #00517a;
  color: #80b2cc;
}
.social-icon--linkedin:hover {
  color: yellow;
  text-shadow: 0px 1px 0px #00517a;
}
.social-icon--linkedin .tooltip {
  background: #006599;
  background: -webkit-linear-gradient(#267ca8, #006599);
  background: linear-gradient(#267ca8, #006599);
  color: #cce0eb;
}
.social-icon--linkedin .tooltip:after {
  border-top-color: #006599;
}
.social-icon--twitter {
  background: #2b97f1;
  background: -webkit-linear-gradient(#369cf2, #298fe5);
  background: linear-gradient(#369cf2, #298fe5);
  border-bottom: 1px solid #2279c1;
  color: #95cbf8;
}
.social-icon--twitter:hover {
  color: yellow;
  text-shadow: 0px 1px 0px #2279c1;
}
.social-icon--twitter .tooltip {
  background: #2b97f1;
  background: -webkit-linear-gradient(#4ba7f3, #2b97f1);
  background: linear-gradient(#4ba7f3, #2b97f1);
  color: #d5eafc;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--codepen {
  background: #000;
  background: -webkit-linear-gradient(#0d0d0d, black);
  background: linear-gradient(#0d0d0d, black);
  border-bottom: 1px solid black;
  color: gray;
}
.social-icon--codepen:hover {
  color: yellow;
  text-shadow: 0px 1px 0px black;
}
.social-icon--codepen .tooltip {
  background: #000;
  background: -webkit-linear-gradient(#262626, #000);
  background: linear-gradient(#262626, #000);
  color: #cccccc;
}
.social-icon--codepen .tooltip:after {
  border-top-color: #000;
}
.social-icon--facebook {
  background: #3b5a9b;
  background: -webkit-linear-gradient(#4562a0, #385693);
  background: linear-gradient(#4562a0, #385693);
  border-bottom: 1px solid #2f487c;
  color: #9dadcd;
}
.social-icon--facebook:hover {
  color: yellow;
  text-shadow: 0px 1px 0px #2f487c;
}
.social-icon--facebook .tooltip {
  background: #3b5a9b;
  background: -webkit-linear-gradient(#5873aa, #3b5a9b);
  background: linear-gradient(#5873aa, #3b5a9b);
  color: #d8deeb;
}
.social-icon--facebook .tooltip:after {
  border-top-color: #3b5a9b;
}
.social-icon--instagram {
  background: #527fa6;
  background: -webkit-linear-gradient(#5b85aa, #4e799e);
  background: linear-gradient(#5b85aa, #4e799e);
  border-bottom: 1px solid #426685;
  color: #a9bfd3;
}
.social-icon--instagram:hover {
  color: yellow;
  text-shadow: 0px 1px 0px #426685;
}
.social-icon--instagram .tooltip {
  background: #527fa6;
  background: -webkit-linear-gradient(#6c92b3, #527fa6);
  background: linear-gradient(#6c92b3, #527fa6);
  color: #dce5ed;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #527fa6;
}
.social-icon--dribbble {
  background: #ef5a92;
  background: -webkit-linear-gradient(#f06297, #e3568b);
  background: linear-gradient(#f06297, #e3568b);
  border-bottom: 1px solid #bf4875;
  color: #f7adc9;
}
.social-icon--dribbble:hover {
  color: yellow;
  text-shadow: 0px 1px 0px #bf4875;
}
.social-icon--dribbble .tooltip {
  background: #ef5a92;
  background: -webkit-linear-gradient(#f173a2, #ef5a92);
  background: linear-gradient(#f173a2, #ef5a92);
  color: #fcdee9;
}
.social-icon--dribbble .tooltip:after {
  border-top-color: #ef5a92;
}
.social-icon--github {
  background: #4284c0;
  background: -webkit-linear-gradient(#4b8ac3, #3f7db6);
  background: linear-gradient(#4b8ac3, #3f7db6);
  border-bottom: 1px solid #356a9a;
  color: #a1c2e0;
}
.social-icon--github:hover {
  color: yellow;
  text-shadow: 0px 1px 0px #356a9a;
}
.social-icon--github .tooltip {
  background: #4284c0;
  background: -webkit-linear-gradient(#5e96c9, #4284c0);
  background: linear-gradient(#5e96c9, #4284c0);
  color: #d9e6f2;
}
.social-icon--github .tooltip:after {
  border-top-color: #4284c0;
}
.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}


/*projects*/
.project_container{
  padding-top: 10px;
  margin: 0 0 300px 180px;
  padding-bottom: 300px;
  width: 100%;
  height: 100%;

}
.col-xs-4{
  margin: 40px 10px 10px 10px;
  border: 2px black solid;
  padding-right: 30px;
  box-shadow: 10px 10px 5px black;
  width: 500px;
  height: 460px;
  background:  url("../image/pattern.png");
}
.col-xs-4>h3{
  padding-bottom: 10px;

}
.col-xs-4>h4{
padding-bottom: 10px;

}

.col-xs-4>h5 {
  font-size: 24px;
  color: rgba(255,255,255,.7);
  padding-bottom: 10px;
}
#project2{
  background-image: url("../image/unicornr.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding-top: 50px;
  width: 480px;
  height: 580px;
}
#project3{
    background-image: url("../image/traveladvisor.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 480px;
    height: 370px;
}
#project1{
    background-image: url("../image/Triviaworld.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
    padding-top: 40px;
    width: 480px;
    height: 260px;
}
/*Timeline*/
.experience{
  padding-bottom: 90px;
  margin-bottom: 30px;
  text-align: center;
  /*background-color:  rgba(255,255,255,0.1);*/
}
#timeline {
  padding-top: 5%;
  margin-left: 100px;
  margin-top: 200px;
  padding-top: 100px;
  /*background-color:  rgba(255,255,255,0.1);*/
}
.timeline {
  height: 100%;
  position: relative;
}
.timeline canvas {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0;
  top: 0;
}
.timeline figcaption {
  font: 900 190% 'Lato';
  text-transform: uppercase;
  -webkit-text-stroke: .25px;
}
.timeline h1 {
  float: left;
}
.timeline h2 {
  font: 400 400% 'Raleway';
  padding-bottom: 100px;
  color: #b2cde9;
}
#timeline h6{
  font-size: 24px;
}
.timeline h6 {
  color: rgba(255,255,255,0.7);
  font-size: 24px;
  font: 400 80% Tahoma;
}

.timeline p,
.timeline ol {
  font: 400 95% 'Raleway';
  padding: 3px 0 20px 0;
  color: rgba(255,255,255,0.7);
  font-size: 24px;
  /*text-align: justify;*/
  text-align: left;
  width: 70%;
}
.timeline ol {
  list-style: disc;
  margin-top: -20px;
  padding-left: 40px;
}
.timeline figure {
  float: right;
  width: 100%;
  text-align: left;
}
.timeline article {
  position: relative;
  width: 38%;
  overflow: hidden;
  margin-bottom: 100px;
}
.timeline article:first-of-type {
  float: left;
  text-align: right;
}
.timeline article:first-of-type p,
.timeline article:first-of-type figure {
  float: left;
}
.timeline article:last-of-type {
  float: right;
}
.timeline article:last-of-type h2 {
  color: #c6e0aa;
}
.timeline article:last-of-type h6,
.timeline article:last-of-type a {
  color: rgba(255,255,255,0.7);
  font-size: 24px;
}
.timeline article:last-of-type a:hover {
  color: #95D40D;
}
/*Skills*/
/*#skills{
  /*margin: 20px 20px 20px 100px;*/
}


.col-sm-4>h4{
  float: left;
}


.col-sm-4>h4{
  text-align: left;
  margin: 0 20px 20px 0;
  color: white;
  text-decoration: underline;
  -moz-text-decoration-color: #21bcb6; /* Code for Firefox */
   text-decoration-color: #21bcb6;
}

.col-sm-4>ul {
  text-align: left;
  font-size: 24px;
  color:rgba(255, 255, 255, 0.9);
}
.col-sm-4>ul li{
  list-style: none;
  /*text-align: left;*/
}


/*responsive*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/*Bash Terminal*/
body {
  background-color: #272727;
  padding: 10px;
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 700px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background:  url("../image/pattern.png");
  border-left: 2px solid white;
  width: 700px;
  height: 375px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

p {
  position: relative;
  left: 50%;
  margin-left: -8.5em;
  text-align: left;
  font-size: 1.75em;
  font-family: monospace;
  white-space: normal;
  overflow: hidden;
  width: 0;
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #9CD9F0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #E09690;
  -webkit-animation: type .5s 7.5s steps(20, end) forwards;
  -moz-animation: type .5s 7.5s steps(20, end) forwards;
  -o-animation: type .5s 7.5s steps(20, end) forwards;
  animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type .5s 10.75s steps(20, end) forwards;
  -moz-animation: type .5s 10.75s steps(20, end) forwards;
  -o-animation: type .5s 10.75s steps(20, end) forwards;
  animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}
/*Bash end*/
/*footer*/

.footer {
  position: absolute;
   border-top: 1px solid rgba(255,255,255,.9);
   padding-top: 2rem;
   bottom: 100px;
   color: black;
   height: 60px;
}
.container>h4{
  width: 50%;
}
.footer_right>h4{
  padding-top: -20px;
  margin-left: 55%;
  float: left;
}
